.sentense {
  @include flex-container(column, flex-start, stretch);
  gap: 36px;
  width: 1498px;
  .sentenseHead {
    display: flex;
    justify-content: space-between;
    .sentenseTitle {
    
      font: $fontH2;
    }
    .dopInfo {
      font: $fontP1;
      line-height: 32px;
      width: 770px;
    }
  }
  .line {
    height: 1px;
    background-color: $bgLinePage;
  }
  .cards {
    margin-top: 3px;
    margin-bottom: 4px;
    display: flex;
    gap: 20px;
    .card {
      width: 405px;
      height: 300px;
      padding: 40px;
      border: 1px solid $borderCards;
      background-color: $bgCardsSentense;
      border-radius: $RadiusXXL;
      -webkit-border-radius: $RadiusXXL;
      -moz-border-radius: $RadiusXXL;
      -ms-border-radius: $RadiusXXL;
      -o-border-radius: $RadiusXXL;

      .cardTitle {
        font: $fontP1;
      }
      .icon {
        padding-top: 27px;
        margin-left: 119px;
      }
      .iconBook {
        padding-top: 8px;
        margin-left: 95px;
      }
      .iconConsultancy {
        padding-top: 14px;
        margin-left: 55px;
      }
    }
  }
  .cardAudit {
    background: url('../assets/document_9303518\ 1.svg') no-repeat right bottom;
  }
  .cardGuide {
    background: url('../assets/book.svg') no-repeat right bottom;
  }
  .cardConsult {
    background: url('../assets/consultancy.svg') no-repeat bottom;
  }
}


@media(max-width:1024px){
  .sentense{
    width: auto;
    gap:24px;
    .sentenseHead{
      flex-direction: column;
      gap:28px;
      border-bottom: 1px solid $bgLinePage;
      .sentenseTitle{
        font: $fontH3;

      }
      .dopInfo{
        font-size: 22px;
      }
    }
    .line{
   display:none;
    }

    .cards{
      margin-top: 30px;
      .card{
        padding: 40px 0 0 28px;
        width: 275px;
        height: 276px;
        .cardTitle{
          font:$fontBody;
          font-weight: 500;
        }
      }
    }
  }
}
@media(min-width:365px) and (max-width:376px) {
  .sentense{
    gap: 28px;
    margin: 0 auto;
    .sentenseHead{
      flex-direction: column;
      .sentenseTitle{
        font: $fontBody;
        font-weight: 600;
      }
      .dopInfo{font: $fontMain;
        width: 295px;
        padding-bottom: 8px;
      }

    }
    .cards{
      margin-top: 0;
      flex-direction: column;
      gap:16px;
      .card{
        width: auto;
        height: 200px;
        background-color: $bgCardsSentense;
      }
    }
      .cardAudit {
        background: url('../assets/document-xs.svg') no-repeat right bottom;
      }
      .cardGuide {
        background: url('../assets/book-xs.svg') no-repeat right bottom;
      }
      .cardConsult {
        background: url('../assets/consultancy-xs.svg') no-repeat bottom;
      }
    
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  }
}