.registration {
  @include flex-container(column, center, center);

  border-radius        : $RadiusSm;
  -webkit-border-radius: $RadiusSm;
  -moz-border-radius   : $RadiusSm;
  -ms-border-radius    : $RadiusSm;
  -o-border-radius     : $RadiusSm;

  .label {

    font : $fontMain;
    color: $textGeneralInput;

    .optional {
      color: $textPassword;

    }
  }

  .modalForm {
    display       : flex;
    flex-direction: column;
    margin-top    : 28px;

    .containerInputTwo {
      margin-bottom: $spacingGeneral;
      border       : none;

      .containerInput {
        position  : relative;
        text-align: left;
        @include flex-container(column, flex-start, flex-start);
        gap          : 8px;
        margin-bottom: 16px;
        max-height   : 84px;

        .inputWrapper {
          display    : flex;
          align-items: center;
.errorWrapper{     margin-left : 12px;
          .error {
            display     : flex;
            border-color: $borderError;
            color       : $textError;
       
            font        : $fontSmall;
          }
        }
          &:active {
            outline: none;
          }
        }
      }
    }
  }
  .error {
    display     : flex;
    border-color: $borderError;
    color       : $textError;
    font        : $fontSmall;
  }
  .checkIcon {
    margin-left: $spacingBetweenButton;
  }

  .eyeIcon {
    position: absolute;
    right   : 190px;
    top     : 50%;

    cursor: pointer;

    transition: color 0.2s;
  }

  .password {
    color: $textPassword;
  }

  .form_bottom {
    display       : flex;
    flex-direction: column;
    margin-top    : $spacingGeneral;
    gap           : $spacingBetweenButton;

    .checkboxWrapper {
      display    : flex;
      align-items: center;
      height     : 48px;

      &.error {
        border: 2px solid $borderError;
      }
    }

    .labelCheck {
      color      : $textLabelCheck;
      font       : $fontMain;
      margin-left: $spacingBetweenButton;

      .policy a {
        color: $textLabelCheck;
      }
    }

    .btn {
      margin-top: $spacingGeneral;
    }
  }
}
