.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: $RadiusXXL;
  -webkit-border-radius: $RadiusXXL;
  -moz-border-radius: $RadiusXXL;
  -ms-border-radius: $RadiusXXL;
  -o-border-radius: $RadiusXXL;
  &.primary {
    color: $textActiveButton;
    background-color: $bgPrimary;
    border: 1px solid $borderPrimary;

    &:hover {
      background-color: $bgPrimaryHover;
      border: 1px solid $borderPrimary;
      color: $textActiveButton;
    }
  }

  &.default {
    color: $textGeneral;
    background-color: $white;
    border: 1px solid $borderInput;
  }

  &.disabled {
    background-color: $bgDisabled;
    border: 1px solid $borderDisabled;
    color: $textDisabled;
    cursor: no-drop;

    &:hover {
      background-color: $bgDisabled;
      border: 1px solid $borderDisabled;
      color: $textDisabled;
    }
  }

  &.small {
    font: $fontMain;
    padding: 12px;
  }

  &.medium {
    font: $fontBody;
    padding: 12px;
  }

  &.large {
    width: 570px;
    height: 48px;
    font: $fontBody;
  }
  &.mediumXL {
    font: $fontP1;
    width: 308px;
    height: 64px;
  }
  &.mediumXXL {
    font: $fontH3;
    font-weight: 400;
    width: 392px;
    height: 72px;
  }
  &.smallXL {
    font: $fontH3;
    font-weight: 400;
    width: 297px;
    height: 72px;
  }
}
@media(max-width:1024px){
  .button{
    &.mediumXXL{
      width: 308px;
      height: 64px;
      font:$fontP1;
    }
&.smallXL{
  width: 237px;
  height: 64px;
  font: $fontP1;
}
  }
}
@media (max-width:375px){
  .button{
    &.mediumXXL{
      width: 245px;
      height: 56px;
      font:$fontBody;
    }
    &.smallXL{
      width: 198px;
      height: 56px;
      font: $fontBody;
    }
  }
}
