.scripts{
    display: flex;
    gap:168px;
.easy{
    
    display: flex;

    flex-direction: column;
    gap:160px;
    padding:168px 120px 20px 120px;
    .CaretUp{margin-left: auto;}
}
}