.economy{
    height: 572px;
    width: 100%;
    margin: 160px auto 0 ;
    text-align: left;
    color: $textActiveButton;
    border-radius: $RadiusXXL;
    -webkit-border-radius: $RadiusXXL;
    -moz-border-radius: $RadiusXXL;
    -ms-border-radius: $RadiusXXL;
    -o-border-radius: $RadiusXXL;

    background: 

    url('../assets/FeatureEconomy.svg')no-repeat,
    url('../assets/woman.png')no-repeat right bottom;
  
    .economyText{
        display: flex;
        flex-direction: column;
        width: 865px;
        gap:32px;
        padding:  40px 40px 0 40px;
    
    .economyTitle{
        font:$fontH2 ;
        font-weight: 400;
        margin: 0;
    }
    
    .line{
        width: 843px;
        height: 1px;
        background-color: $bgLinePage;
    }
    .dopInfo{
        display: flex;
        gap: 20px;
      
        .dopIntoSmallText{
            font: $fontBody;
           
            width: 365px;
        }
        .dopInfoBigText{
            font: $fontH3;
            width: 461px;
        }
    }}
    .btn{
    margin-top: 44px;
    padding: 0 40px;
    }
}

@media (max-width: 1024px){
    .economy{
        width: 100%;
        height: 466px;
        margin: 0 auto;
        padding: 40px 80px;
        background: 
     

        url('../assets/Subtract.svg')no-repeat left,
        url('../assets/woman-small.svg')no-repeat right;
        .economyText{
            padding: 0;
            gap: 20px;
            .economyTitle{
                font: $fontH3;
                font-weight: 400;
                width: 570px;
                height: 120px;
            }
            .line{
                width: 500px;
            }
            .dopInfo{
                .dopIntoSmallText{
                    width: 500px;
                  height: 98px;
                    line-height: 24px;
                    font-weight: 400;
                }
            .dopInfoBigText{
                display: none;
            }
        }
        }
        .btn{
            margin-top: 44px;
            padding: 0;
            }
    }
 
}

@media (min-width:365px) and (max-width:376px){
    .economy{
        margin:0;
        display: flex;
        flex-direction: column;
        height: 811px;
  padding:40px;
        background: 
        
url('../assets/woman-xs1.png')no-repeat bottom,
$bgEconomySection;
background-position: center calc(100% - 135px);
        .economyText{
            .economyTitle{
font: $fontBody;
width: 294px;
height: 96px;
            }
            .line{
                width: 295px;

            }
            .dopInfo{
                .dopIntoSmallText{
                    width: 302px;
                    height: 144px;
                    font: $fontMain;

                }
                .dopInfoBigText{
                    display: none;
                }
            }
        }
        .btn{
            display: flex;
            justify-content: center;
            margin-top: 385px;
        }
    }
}