//color
$emerald    : rgba(0, 105, 110, 1);
$emerald-100: rgba(0, 92, 97, 1);
$emerald-200: rgba(0, 79, 83, 1);
$emerald-300: rgba(52, 130, 135, 1);
$emerald-800: rgba(82, 97, 98, 1);
$emerald-400: rgba(28, 112, 117, 1);
$emerald-600: rgba(0, 105, 110, 1);

$black    : rgba(0, 0, 0, 1);
$black-100: rgba(15, 30, 31, 1);
$black-200: rgba(5, 19, 20, 1);
$black-300: rgba(21, 21, 21, 0.6);
$black-400: rgba(43, 50, 50, 1);
$black-500: rgba(0, 20, 21, 1);
$gray     : rgba(132, 148, 149, 1);
$gray-100 : rgba(113, 113, 113, 1);
$gray-200 : rgba(180, 180, 180, 1);
$gray-300 : rgba(240, 241, 240, 1);
$gray-400 : rgba(240, 240, 240, 1);
$gray-500 : rgba(158, 174, 175, 1);
$gray-600 : rgba(235, 235, 235, 1);
$gray-700 : rgba(217, 217, 217, 1);
$gray-800 : rgba(185, 202, 203, 1);
$gray-810 : rgba(213, 230, 231, 1);
$gray-820 : rgba(190, 200, 201, 1);
$gray-830 : rgba(243, 255, 255, 1);
$gray-900 : rgba(239, 245, 245, 1);
$gray-910 : rgba(227, 244, 245, 1);
$gray-920 : rgba(9, 27, 28, 0.3);
$gray-930 : rgba(74, 99, 101, 1);

$white: rgba(255, 255, 255, 1);

$error: rgba(186, 26, 26, 1);

//bacground-color
$bgPrimary        : $emerald;
$bgPrimaryHover   : $emerald-200;
$bgDisabled       : $gray-300;
$bgInputHover     : $gray-900;
$bgLine           : $gray-800;
$bgLineLK         : $gray-810;
$bgFooter         : $black-400;
$bgLinePage       : $gray-820;
$bgCardsSentense  : $gray-830;
$bgFeedback       : $gray-910;
$bgModalRootPortal: $gray-920;
$bgEconomySection : $emerald-600;

//border-color
$borderDisabled      : $gray-500;
$borderInput         : $gray;
$borderInputActive   : $emerald-800;
$borderInputCompleted: $emerald-300;
$borderPrimary       : $emerald-100;
$borderError         : $error;
$borderCards         : $gray-820;

//shadow
$defaultShadow: 0px 1px 2px 0px rgba(92, 111, 113, 0.15);
$defaultShadowSecond: 0px 6.65px 13.83px 0px rgba(0, 0, 0, 0.0283),
0px 22.34px 46.46px 0px rgba(0, 0, 0, 0.0417);
$defaultShadowHover: 0px 16px 16px 0px rgba(0, 0, 0, 0.04),
0px 37px 22px 0px rgba(0, 0, 0, 0.03);
$defaultShadowSecondVariant     : 0px 1px 24px 0px rgba(92, 111, 113, 0.12);
$defaultShadowSecondVariantHover: 0px 4px 24px 0px rgba(92, 111, 113, 0.16);

//text-color
$textGeneral      : $black;
$textGeneralInput : $black-200;
$textLabelCheck   : $black-300;
$textCardArguments: $black-500;
$textActiveButton : $white;


$textDisabled    : $gray-500;
$textPlaceholder : $gray;
$textError       : $error;
$textSlider      : $gray-930;

$textPrimary  : $emerald;
$textPassword : $emerald-800;
$textLink     : $emerald-400;


//font
$fontFamily: "JostFont",
"Arial",
sans-serif;

$fontH1: 500 #{58px} / #{120%} $fontFamily;
$fontH2: 500 #{42px} / #{120%} $fontFamily;
$fontH3: 500 #{32px} / #{120%} $fontFamily;
$fontP1: 400 #{24px} / #{120%} $fontFamily;

$fontBody    : #{18px} /#{120%} $fontFamily;
$fontMain    : #{16px} /#{120%} $fontFamily;
$fontSmall   : #{14px} /#{120%} $fontFamily;
$fontSubhed  : 400 #{13px} / #{120%} $fontFamily;
$fontFootnote: 400 #{12px} / #{120%}$fontFamily;

//radius
$RadiusSm  : 8px;
$RadiusM   : 12px;
$RadiusL   : 16px;
$RadiusXL  : 24px;
$RadiusXXL : 32px;
$RadiusXXXL: 64px;

//spacing
$spacingTitle        : 8px;
$spacingInButton     : 12px;
$spacingBetweenButton: 16px;
$spacingGeneral      : 28px;
$spacingFreeSmall    : 32px;
$spacingFreeMedium   : 64px;
$spacingFreeBig      : 128px;