.argumentsSection {
  color: $textCardArguments;
  h2 {
    font: $fontH2;
    margin-bottom: 60px;
  }

  .cards {
    display: flex;
    gap: 20px;
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    width: 830px;
    height: 873px;
    background: url('../assets/graf.svg') no-repeat;
    background-position: center calc(100% - 140px);
    border: 1px solid  $bgLinePage;
    border-radius: $RadiusXXL;
    -webkit-border-radius: $RadiusXXL;
    -moz-border-radius: $RadiusXXL;
    -ms-border-radius: $RadiusXXL;
    -o-border-radius: $RadiusXXL;
    .cardTitle {
      font: $fontH2;
      font-weight: 400;
    }
    .cardSubtitle {
      font: $fontP1;
      margin-top: $spacingFreeSmall;
      width: 589px;
    }
    .description {
      margin-top: $spacingFreeSmall;
      font: $fontBody;
      width: 409px;
      height: 120px;
    }
  
  .cardEnd {
    font: $fontH3;
    margin-bottom: 60px;
  }}
  .cardAlt {
    background:
      linear-gradient(356.28deg, rgba(249, 249, 249, 0) 53.32%, #f9f9f9 67.53%),
      linear-gradient(180deg, rgba(249, 249, 249, 0) 65.64%, #f9f9f9 92.96%),
      url('../assets/mountain.svg') no-repeat bottom;
    background-size: auto;

    .description {
      text-align: left;
      width: 527px;
      height: 96px;
    }
  }

}
}
@media (max-width: 1024px){
  .argumentsSection{
    h2{
  font: $fontH3;
    }
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:60px;
    .card{
      width: 864px;
      height: 518px;
      padding: 40px;
      .cardTitle{
        font: $fontH3;
        width: 574px;
        height: 80px;
        font-weight: 400;
        margin: 0;
      }
      .cardSubtitle{
        font: $fontBody;
        margin-top: $spacingGeneral;
        width: 438px;
        height:48px ;
      }
      .description{
        display: none;
      }
      .cardEnd{
        font:$fontP1;
        margin: 0;
      }
      background: url('../assets/graf-small.svg') no-repeat right;
      background-position: calc(50% + 125px);
    }
  
    .cardAlt{
      background:linear-gradient(187.91deg, rgba(249, 249, 249, 0) 58.28%, #F9F9F9 83.88%),
      url('../assets/mountain.svg') no-repeat bottom;
      background-position: right;
    }
  }
  
  }
  }
  
  @media(max-width: 376px){
    .argumentsSection{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap:32px;
      h2{
        font: $fontBody;
        text-align: center;
        font-weight: 600;
        width: 295px;
        height: 72px;
        margin-bottom: 0;
  
        br{
          display: none;
        }
      }
    
    .cards{
      flex-direction: column;
    
    gap:32px;
    .card{
      
      width: 295px;
      height: 472px;
      padding: 28px;
   .cardTitle{
    text-align: left;
    font:$fontBody;
    font-weight: 500;
    width: 235px;
    height: 72px;
   }
   .cardSubtitle{
    font: $fontSmall;
    text-align: left;
    width: 244px;
    height: 54px;
   }
   .description{
    display: none;
  }
   .cardEnd{
    font:$fontBody;
    font-weight: 500;
    text-align: left;
    width: 224px;
    height: 48px;
    margin: 0;
   }
   background: url('../assets/graph-xs.svg') no-repeat center;
   background-position: center calc(50% + 30px);
    }
    .cardAlt{
      background: linear-gradient(185.74deg, rgba(249, 249, 249, 0) 57.82%, #F9F9F9 78.32%),
      linear-gradient(6.77deg, rgba(249, 249, 249, 0) 57.08%, #F9F9F9 79.53%),
      url('../assets/mountain-xs.svg') no-repeat center;
      background-position: center calc(50% + 20px);
   
    }
    }
  }
  }